@{
    ViewBag.Title = "Claims Department";
}

<main>
    <h1>Claims Department</h1>
    <h3>Approval Criteria Management</h3>
    <nav class="list-group">
        @Html.ActionLink("List All", "List", "Criteria", new { area = "" }, new { @class = "nav-link list-group-item list-group-item-action" })
        @Html.ActionLink("Create New", "Create", "Criteria", new { area = "" }, new { @class = "nav-link list-group-item list-group-item-action" })
    </nav>
</main>
